AI_KEY="your api key for OpenAI"

TELEGRAM_BOT_TOKEN = "your telegram bot token here"
GROUP_ID = "your admin group id"
ASTROLOGER_API_URL = http://server:4000/astrologer
CHANNEL_ID = "your channel id here"